@model IEnumerable<AppKurs.Models.UserTask>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a class="btn btn-success" asp-controller="UserTask" asp-action="Create">Add Task</a>
    </div>
}

@{ 
    var reversedModel = Model.Reverse();
}

<div class="row">
    @foreach (var userTask in reversedModel)
{
    <div class="col-md-6">
        <div class="card bg-light mt-3 p-5 rounded">
            <h1>@userTask.TaskTitle</h1>
            <p class="lead">@userTask.TaskTopic</p>
            <a class="btn btn-lg btn-primary" asp-controller="UserTask" asp-action="Details" asp-route-id="@userTask.Id">View more...</a>
        </div>
    </div>
}
</div>
