@using AppKurs.Data
@model ApplicationUser

@{
    ViewData["Title"] = Model.UserName.ToUpper();
}

<div class="text-center">
    <h1>@Model.UserName</h1>
</div>
<div class="text-center">
    <h2>@Model.Email</h2>
</div>
