@model UserTask

@{
    ViewData["Title"] = "Create Task";
}

<div class="col-md-7">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" asp-for="TaskTitle" />
        </div>
        <div class="form-group">
            <label>Subject</label>
            <select class="form-control" asp-for="TaskTopic" aria-label="Default select example">
                <option selected>Algebra</option>
                <option value="Geometry">Geometry</option>
                <option value="Programming">Programming</option>
            </select>
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea type="text" class="form-control" asp-for="TaskText"></textarea>
        </div>
        <div class="form-group">
            <label>Image File</label>
            <input asp-for="ImageFile" type="file" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Answer</label>
            <input class="form-control" asp-for="TaskAnswer" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>